:root {
    --black: #212121;
    --white: #ffffff;
    --gray: #434a54;
    /* --green: #6ab783; */
    --green: #98d4d2;
    --blue: #1a4d8c;
    --lightgreen: #84bebd;
    --yellow: #f8e55b;
    --pink: #fe9191;
    --antiquewhite :#FAEBD7;

}


/* Scroll bar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--green);
    /* background-image: linear-gradient(var(--green), var(--pink), var(--lightgreen)); */
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: pink;
}

/* end scrollbar */
.main-menu {
    background: var(--green) !important;
    color: var(--white);
    height: 100%;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.fixed-navbar {
    background: var(--green) !important;
    color: #242424;
}

.header .logo {
    background-color: var(--lightgreen) !important;
    color: var(--black);
    font-weight: 700 !important;
}

.navigation .title {
    color: var(--blue) !important;
    background: var(--lightgreen) !important;
}

.navigation .menu>li.current>a {
    color: var(--white) !important;
    background: var(--green) !important;
}

.navigation .menu>li.active>a {
    background: var(--blue) !important;
    color: var(--white);
}

.fixed-navbar .ico-item {
    color: var(--white) !important;
}

.navigation .menu a {
    color: var(--gray) !important;
}

.navigation .menu a {
    display: block;
    color: var(--white) !important;
}

.menu-mobile-button {
    background: var(--green) !important;
    color: var(--white) !important;
}

.fixed-navbar {
    color: var(--white) !important;
}

.user .position {
    color: var(--white);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}

.navigation .menu>li.active>a {
    background: var(--blue) !important;
    color: var(--white);
}

.menu-active .navigation .menu .sub-menu a {
    background: var(--green) !important;
}

.menu-active .navigation .menu>li:hover>a {
    background: var(--blue) !important;
}

@media (min-width: 800px) {
    .menu-active .header .logo:before {
        background: var(--green) !important;
    }
}

@media (min-width: 800px) {
    .menu-active .header .logo:after {
        content: "";
        position: absolute;
        left: 20px;
        top: 20px;
        width: 35px;
        height: 35px;
        background: var(--blue) !important;
        z-index: -1;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
    }
}

a .logo {
    color: var(--black) !important;
}

.user .control-list a:hover {
    color: var(--blue);
}

.menu-active .header .logo {
    color: var(--white) !important;
}

.frm-single .frm-submit {
    display: block;
    width: 100%;
    height: 36px;
    border: none;
    background: var(--green) !important;
    color: #ffffff;
    margin-bottom: 15px;
}

.frm-single .frm-input .frm-inp:focus {
    border-color: var(--lightgreen) !important;
    padding-left: 10px;
}

#single-wrapper {
    background-color: var(--green);
}

.card-head {
    padding: 12px 10px 12px 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--green);
    color: var(--blue);
}

.addbtn {
    background-color: var(--yellow) !important;
    color: var(--blue) !important;
}

.addbtn:hover {
    background-color: var(--blue) !important;
    color: var(--white) !important;
}

.navigation .menu a i {
    color: var(--white);
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* a {
    text-decoration: none !important;
    outline: none;
    color: #304ffe;
} */


@media (min-width:1025px) {
    .navigation .menu a:hover {
        color: #304ffe;
        /* height: 100%; */

    }

    .navigation .menu a:hover i {
        color: #304ffe
    }
}

.footers {
    background-color: var(--white);
}

/* navigation bar */
.mCustomScrollBox {
    position: relative !important;
    overflow: hidden !important;
    height: 100% !important;
    max-width: 100% !important;
    outline: 0 !important;
    direction: ltr !important;
    padding-bottom: 100px;
}

.tabletd {
    word-wrap: break-word !important;
    min-width: 160px !important;
    max-width: 160px !important;
}

.chackall{
    padding: 12px 10px 12px 10px;
    display: flex;
    justify-content: space-between;
}